*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
   
}
html{
  scroll-behavior: smooth;
  width: 100%;
  
}
/* Styling navigation bar*/
.navbar-brand{
    font-size: 20px;
     font-family: firsthand;
     @import url(https://fonts.google.com/specimen/Fasthand?preview.size=24);
     color:#9e367b;
     font-weight: bold;
}
.section {
  background-color: #f8f3f7;
}
.container-fluid {
    display:flex;
}
.nav-link{
    float:right;
    justify-content: flex-end;
    overflow:hidden;
    font-family: Arial;
    font-weight: 200px;
    color:black;
    margin-right: 20px;
    padding: 16px 18px 20px;
}
/*adding hover effect to the nav-link*/
.nav-link:hover {
  background-color:#cf62a6;
    font-weight: bold;
    border-radius: 7px 20px 5px;
}
.nav-link:active {
  color: #682050;

}
/*Adding carousel slide-show to the first show*/
#carouselExampleAutoplaying{
 margin-top: 12%;
}
#Portfoli {
  height:9000px ;
  
}
#home{
  height:600px;
  width:100%;
 
}
#about-us {
 
  height: 480px;
}
#Services{
  height:1350px;
  width:100%;
  
}
/*styling the content, font of the website's content*/
.first-heading {
    font-family: sans-serif;
    font-size: 20px;
    color: gray;
    margin:28px 35px 25px 20px ;
   text-align:center
}
.secondName{
    font-family: Tahoma;
    font-size: 18px;
    color:#b44e8d;
    font-weight: bold;
    margin-left: 7px;
}
/*styling the button, making is responsive */
.button-sliding-to-top--red{
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #b44e8d;
  color: #9e367b;
  margin-right: 5px;
  margin-left:45px;
  align-items: center;
  position: absolute;
  left: 20%;
  margin-top: 0px;
}
/*adding sliding hovering effect to the button*/
.button-sliding-to-top--red:hover {
  color: #fff;
}
.button-sliding-to-top--red:hover:after {
  height: 100%;
}
.button-sliding-to-top--red:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background:#9e367b;
}
/*stying the introduction text*/
.hookup-text{
  margin-top: 30%;
  padding-top: 15px;
  font-family:helvetica;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: #cc71ae;
}
/* applying slide in text animation to the first paragraph*/
.first-touch, .second-touch,.first-intro,.last-touch{
  font-size: 15px;
  word-wrap: normal;
  text-align: center;
  word-spacing: 5px;
  line-height: 1.4;
  font-weight: 5px;
}
.span-text {
  font-family:cursive;
  color: #682050;
  font-weight: bold;
}
/*styling the services page*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* Styling the container cards */
.div { display: block;
}
.mbr-section-title {
  text-align: center;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}
 /*styling the services section*/
 .services-intro {
  font-style: normal;
  line-height: 1.2;
  color: #b14f8b;
  font-style: helvetica;
  font-size: 28px;
  margin-top: 28px;
  margin-bottom: 18px;
  text-align: center;
}

.card-box {
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  height: 340px;
  width: 100%;
 
}
h3 {
  display: block;
  display: block;
  font-size: 15px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
/*Responsive layout : when the screen is less than 922px wide */
@media only screen and (min-width: 992px) {
  .nav-link a {
    display: flex;
    justify-content: flex-end;
    float: left;
    margin-bottom: 10px;
  }
  #carouselExampleAutoplaying{
    margin-top: 3%;
   }
   .first-heading {
    font-size:28px ;
    font-weight: bold;
   }
   .secondName{
    font-size: 25px;
   }
   .button-sliding-to-top--red{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 50%;
   }
  }
  /*Responsive layout : when the screen is less than 700px wide*/
  @media screen and { max-width:
    
  }
/*Styling the content of the services  */
ul{
  list-style-type: none; 
  text-decoration: none;
  text-align: center;
}
/*Styling the Portflio*/
.row .portfolio {
  display:column;
  grid-template-columns: 4;
  grid-row: inherit;
  grid-row: 4;
  padding: 0 4px;
}
/* Create two equal columns that sits next to each other */
.column .portfolio{
  flex: 50%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}
#Contact-us{
  margin-top: 20px;
  height: 1600px;
  background-color: #f8f3f7;
}
.contact-form {
  background-color: #e6d5df;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}
.contact-form label {
  color: black;
}
.contact-form .heading {
  font-size: 24px;
  color: black;
  ;
  margin-bottom: 12px;
  font-weight: bold;
 
}
.contact-form form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.contact-form label {
  margin-bottom: 10px;
}
textarea {
  resize: none;
  height: 80px;
  width: 200px;
}
.contact-form input, .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #943e5f;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.contact-form button[type="submit"] {
  background-color: #b14f8b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.maps {
  margin-top: 30px;
  margin: 20px 10px 20px ;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer {
  background-color: #490e34;
  height: 50px;


}