*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
   
}
html{
  scroll-behavior: smooth;
  width: 100%;
  
}
/* Styling navigation bar*/
.navbar-brand{
    font-size: 20px;
     font-family: firsthand;
     @import url(https://fonts.google.com/specimen/Fasthand?preview.size=24);
     color:#9e367b;
     font-weight: bold;
}
.section {
  background-color: #f8f3f7;
}
.container-fluid {
    display:flex;
}
.nav-link{
    float:right;
    justify-content: flex-end;
    overflow:hidden;
    font-family: Arial;
    font-weight: 200px;
    color:rgb(201, 193, 195);
    margin-right: 20px;
    padding: 16px 18px 20px;
}
/*adding hover effect to the nav-link*/
.nav-link:hover {
    color:#490e34;
    font-weight: bold;
    
}
.nav-link:active {
  color: #682050;

}
/*Adding carousel slide-show to the first show*/
#carouselExampleAutoplaying{
 margin-top: 12% ;
 border:  10pt transparent;
}
#carouselExampleAutoplaying img {
  height: 60%;
}
#Portfoli {
  height:9000px ;
}
#home{
  height:850px;
  width:100%;
 
}
#about-us {
  height: 380px;
}
#Services{
  height:1750px;
  width:100%;
}
.contact-us {
  height:1350px;
  width:100%
}
/*styling the content, font of the website's content*/
.first-heading {
    font-family: sans-serif;
    font-size: 20px;
    color: gray;
    margin:28px 35px 25px 20px ;
   text-align:center
}
.secondName{
    font-family: sans-serif;
    font-size: 18px;
    color:#9e367b;
    font-weight: bold;
    margin-left: 7px;
    margin:28px 35px 25px 20px ;
}
/*styling the button, making is responsive */
.button-sliding-to-top--red{
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #b44e8d;
  color: #9e367b;
  margin-right: 5px;
  margin-left:45px;
  align-items: center;
  left: 40%;
  margin-top: 0px;
}
/*adding sliding hovering effect to the button*/
.button-sliding-to-top--red:hover {
  color: #fff;
}
.button-sliding-to-top--red:hover:after {
  height: 100%;
}
.button-sliding-to-top--red:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background:#9e367b;
}
/*stying the introduction text*/
.hookup-text{
  margin-top: 33%;
  padding-top: 15px;
  font-family:helvetica;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #9e367b;
  
}
/* applying slide in text animation to the first paragraph*/
.first-touch, .second-touch,.first-intro,.last-touch{
  font-size: 20px;
  word-wrap: normal;
  text-align: center;
  word-spacing: 5px;
  line-height: 1.4;
  font-weight: 5px;
  font-family: sans-serif;
}
.span-text {
  font-family:sans-serif;
  color: #cc71ae;
  font-weight: bold;
}
/*styling the services page*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
/* Styling the container cards */
.mbr-section-title {
  text-align: center;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}
 /*styling the services section*/
 .services-intro {
  line-height: 1.2;
  color: #9A208C;
  font-style: helvetica;
  font-weight: bold;
  font-size: 28px;
  margin-top: 28px;
  margin-bottom: 18px;
  text-align: center;
}
/*stying the card ofr services information*/
.card-box {
  margin-right: 5px;
  margin-left: 5px;
  text-align: center;
  height: 600px;
  width: 100%;
  background-color:#e9dfdfee ;
  border: 50pt solid #e9dfdfee  ;
}

/*Responsive layout : when the screen is less than 922px wide */
@media only screen and (min-width: 992px) {
  .nav-link a {
    display: flex;
    justify-content: flex-end;
    float: left;
    margin-bottom: 10px;
  }
  #carouselExampleAutoplaying{
    margin-top: 3%;
   }
   .first-heading {
    font-size:28px ;
    font-weight: bold;
   }
   .secondName{
    font-size: 25px;
   }
   .button-sliding-to-top--red{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 50%;
   }
   .nav-link {
    display: flex;
    float: right;
    justify-content:right;
   }
   .navbar-brand,.logo_name{
    margin-right: 150px;
   }
  }
  /*Responsive layout : when the screen is less than 600px wide*/
  @media (max-width: 600px) {
    /*styling Navigation bar*/

    .nav-link {
      float: left;
        }
    .button-sliding-to-top--red {
      left: 20%;
      margin-bottom: 0px;;
    }
    /*sections margins and sizes*/
    .home{
      height: 250px;
      width: 100%;
      background-color: #FFEAEA;
    }
    .about-us {
      height: 550px;
      background-color: #FFEAEA;
    }
    .services {
      height:1350px;
      width:100%;
    }
    .secondName {
      font-size: 16px
    }
    .hookup-text{
      margin-top:0px;
      font-size: 18px;
      color: #9e367b;
      }
    .first-heading {
      font-size: 18px;
      margin-top: 12px;;
    }
    .first-touch, .second-touch,.first-intro,.last-touch{
      font-size: 16px;
      word-wrap: normal;
      text-align: center;
      word-spacing: 5px;
      line-height: 1.4;
      font-weight: 5px;
      font-family: sans-serif;

    }
    /*styling the services card */
    .card-box {
      margin-right: 5px;
      margin-left: 5px;
      text-align: center;
      height: 480px;
      width: 100%;
      background-color:#e9dfdfee ;
    }
    /*Styling the contact section */
    .contact-us {
      height:1350px;
      width:100%
    }
    
  }
      
/*Styling the content of the services  */
ul{
  list-style-type: none; 
  text-decoration: none;
  text-align: center;
}
/*Styling the Portflio*/
.row .portfolio {
  display:column;
  grid-template-columns: 4;
  grid-row: inherit;
  grid-row: 4;
  padding: 0 4px;
}
/* Create two equal columns that sits next to each other */
.column .portfolio{
  flex: 50%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}
#Contact-us{
  margin-top: 20px;
  height: 1600px;
  background-color: #f8f3f7;
}
.contact-form {
  background-color: #e6d5df;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}
.contact-form label {
  color: black;
}
.contact-form .heading {
  font-size: 24px;
  color: black;
  ;
  margin-bottom: 12px;
  font-weight: bold;
 
}
.contact-form form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.contact-form label {
  margin-bottom: 10px;
}
textarea {
  resize: none;
  height: 80px;
  width: 200px;
}
.contact-form input, .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #943e5f;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.contact-form button[type="submit"] {
  background-color: #b14f8b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.maps {
  margin-top: 30px;
  margin: 20px 10px 20px ;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.footer {
  background-color: #490e34;
  height: 50px;


}