*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
   
}
html{
  scroll-behavior: smooth;
  width: 100%;
  
}
/* Styling navigation bar*/
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 50px;
  padding: 0 10px;
}
#navbar:hover {
  color:#9A208C;
  
}
#navbar a {
  display: block;
  padding: 5px;
}

#toggle-button {
  display: none;
  background-color: black;
}

@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    transition: left 0.3s ease;
    background-color: rgb(43, 42, 42);
  }

  #navbar a {
    padding: 10px 20px;
  }

  #toggle-button {
    display: block;
  }

  #navbar.show {
    left: 0;
  }
}

/*Adding carousel slide-show to the first show*/
#carouselExampleAutoplaying{
 margin-top: 0 ;
 border:  10pt transparent;
}
#carouselExampleAutoplaying img {
  height: 60%;
  margin: 0 auto;
}
.d-block img {
  display: block;
  margin: 0 auto;
}
img {
  margin: 0 auto;
}
#Portfoli {
  height:800px;
}
#about-us {
  height: 380px;
}
#Services{
  height:12ssss50px;
  width:100%;
  margin-bottom: 120px;
}
.contact-us {
  height:850px;
  width:100%
}
/*styling the content, font of the website's content*/
.first-heading {
    font-family: sans-serif;
    font-size: 20px;
    color: gray;
    margin:28px 35px 35px 20px ;
   text-align:center
}
.secondName{
    font-family: sans-serif;
    font-size: 18px;
    color:#9e367b;
    font-weight: bold;
    margin-left: 7px;
    margin:28px 35px 25px 20px ;
}
/*styling the button, making is responsive */
.button-sliding-to-top--red{
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #b44e8d;
  color: #9e367b;
  left: 43%;
  align-items: center;
  margin-top: 0px 5px 0px 15px;
}
/*adding sliding hovering effect to the button*/
.button-sliding-to-top--red:hover {
  color: #fff;
}
.button-sliding-to-top--red:hover:after {
  height: 100%;
}
.button-sliding-to-top--red:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background:#9e367b;
}
/*stying the introduction text*/
.hookup-text{
  margin-top: 33%;
  padding-top: 15px;
  font-family:helvetica;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #9e367b;
}
/* applying slide in text animation to the first paragraph*/
.first-touch, .second-touch,.first-intro,.last-touch{
  font-size: 20px;
  word-wrap: normal;
  text-align: center;
  word-spacing: 5px;
  line-height: 1.4;
  font-weight: 5px;
  font-family: sans-serif;
}
.span-text {
  font-family:sans-serif;
  color: #cc71ae;
  font-weight: bold;
}
/*styling the services page*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
/* Styling the container cards */
.mbr-section-title {
  text-align: center;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}
 /*styling the services section*/
 .services-intro {
  line-height: 1.2;
  color: #9A208C;
  font-style: helvetica;
  font-weight: bold;
  font-size: 28px;
  margin-top: 28px;
  margin-bottom: 18px;
  text-align: center;
}
/*stying the card ofr services information*/
.card-box {
  text-align: center;
  height: 400px;
  width: 100%;
}
.services-title {
  font-family:sans-serif ;
  color: #791d57;
  font-weight: bold;
}
.services-intro {
  margin-top: 240px;
}
.align-items-start {
  display: flex;
  justify-content: flex-start;
}
.row {
  margin-top: 5px;
  row-gap: 2.5rem;
  column-gap: 2px;
 
}
/*styling the contact section */

/*Responsive layout : when the screen is less than 922px wide */
@media only screen and (min-width: 992px) {
  .nav-link a {
    display: flex;
    justify-content: flex-end;
    float: left;
    margin-bottom: 10px;
  }
  #home{
    height:750px;
    width:100%;
  }
  #carouselExampleAutoplaying{
    margin-top: 3%;
   }
   .first-heading {
    font-size:28px ;
    font-weight: bold;
   }
   .secondName{
    font-size: 25px;
   }
   .align-items-start {
    margin-top: 150px;
   }
   .row {
    column-gap: 10px;
  }
   .button-sliding-to-top--red{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 50%;
   }

   .navbar-brand,.logo_name{
    margin-right: 150px;
   }
  }
  /*Responsive layout : when the screen is less than 600px wide*/
  @media (max-width: 800px) {
   body {
    padding-top: 80px;
  }
  
    /*styling Navigation bar*/
  
    .button-sliding-to-top--red {
      left: 30%;
      margin-bottom: 35px;;
    }
    /*sections margins and sizes*/
    /* styling the carousel and images */
    img {
      height: 150px;
      width: 80%;
    }
    .home{
      height: 150px;
      width: 100%;
      background-color: #FFEAEA;
      margin-bottom: 1%;
    }
    .portfolio {
      height: 3000px;
      margin-top: 30%;

    }
    .about-us {
      height: 450px;
      background-color: #FFEAEA;
      margin-bottom: 10px;
    }
    .services {
      height:950px;
      width:100%;
      margin-top: 0px;;
    }
    .secondName {
      font-size: 17px;
      right:5px
    }
    .hookup-text{
      margin-top:0px;
      font-size: 18px;
      color: #9e367b;
      }
    .first-heading {
      font-size: 19px;
      margin-top: 12px;;
    }
    .first-touch, .second-touch,.first-intro,.last-touch{
      font-size: 16px;
      word-wrap: normal;
      text-align: center;
      word-spacing: 5px;
      line-height: 1.4;
      font-weight: 5px;
      font-family: sans-serif;

    }
    /*styling the services card */
    .card-box {
      margin-right: 5px;
      margin-left: 5px;
      text-align: center;
      height: 350px;
      width: 100%;
      border: 1pt blue;
    }
    .align-items-start{
      margin-bottom: 150px;
      border: 1pt blue;
    }
    .row {
      margin-top: 25px;
      row-gap: 2.0rem;
      column-gap: 10px;
    }
    /* styling portfolio section*/
    .img-fluid {
      display: block;
      margin: 0 auto;
    }
    /*Styling the contact section */
    footer{
     margin-top: 0px;
      margin-top: 10%;
      align-items: center;
    } 
    .contact-us {
      height:150px;
      width:100%
    }
    label {
      margin: 10px 10px 8px 8px;
    }
    .email-details {
      text-align: center;
      align-items: center;
      right: 50%;
    }
    .contact-info {
      text-align: center;
      margin-top: 25px;
      color: #9e367b;
    }
    .Contact_address {
      text-align: center;
    }
    #map {
      margin-bottom:100px;
      margin-left: 30px;
     
  }
}
/*Styling the content of the services  */
ul{
  list-style-type: none; 
  text-decoration: none;
  text-align: center;
}
/*Styling the Portflio*/
h2
/* styling the contact section */

.contact-info,h4 {
  margin-bottom: 35px;
  display: center;
  color: #9e367b;
  right: 15px;
}
label {
  margin: 10px 10px 8px 8px;
}
.Contact_address {
  margin-top: 5px;;
  line-height: 5px;
}
.email-us,h4 {
  color: #9e367b;
}
.map {
  margin-bottom: 5px;
}
.follow-us {
  color: #9e367b;
  margin-bottom: 18px;
  align-items: center;
}
.social-links {
  display: block;
  text-align: center;
}
.social-link {
  color: #55163f;
  padding: 5px 18px;
  align-items: right;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  transition: all 300ms ease;
  text-align: right;
}
.social-link:hover {
  transition: all ease-out;
}
.copyright {
  color:#b44e8d;
  
}
.stcopyright {
  text-align: left;
}
.designer {
  color:#b44e8d;
  align-items: left;
}
.myname {
  margin-right: 5px;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}
hr {
  color: #55163f;
}