:root {
  --button-color:#8B1874;
  --heading-color:#B71375;
  --normal-text:#0000;
  --button-text:#ffff;
  --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

/* styling Navigation bar*/
 
.navbar-brand {
  font-family: 'Great Vibes', cursive !important;
}