:root {
  --button-color:#8B1874;
  --heading-color:#B71375;
  --button-text:#ffff;
  --normal-text:#000;
   --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* styling Navigation bar*/
.bg-purple {
  background-color:var(--heading-color)!important ;
}

.page {
  color: var(--button-text) !important;
  font-weight:bolder !important;
}

.nav-item {
  margin: 0 35px 0px 20px !important;
  color: var(--normal-text) !important;

}
.nav-link {
  color: var(--normal-text) !important;
  font-family: 'Roboto', sans-serif;
  font-weight:bolder !important;
  text-align: left !important;
  display: flex !important;
  justify-content: flex-start !important;
}
.nav-link:hover {
  font-weight: bold !important;
  color: var(--button-text) !important;
}
.navbar-brand {
  font-family: 'Great Vibes', cursive;
  font-size: 32px !important;
  margin: 0 35px 0px 20px !important;
  color: var(--normal-text) !important;
  
}
.active {
  color: var(--button-text) !important;
  font-weight: bold;
}
/*Styling carousel for screen max 798px */



/*styling the content, font of the website's content*/
.first-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: gray;
  margin:28px 35px 35px 20px ;
  font-weight: bold;
  text-align:center
}
.secondName{
  font-family: sans-serif;
  font-size: 18px;
  color:var(--button-color);
  font-weight: bold;
  margin-left: 5px;
}
/*styling the button, making is responsive */
.button-sliding-to-top--red{
  height: 40px;
  color:var(--button-text);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 1.25s ease;
  position: relative;
  display: flex;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: var(--heading-color);
  overflow: hidden;
  border: 1px solid var(--heading-color);
  left: 35%;
  align-items: center;
  margin-top: 0px 5px 0px 15px;
}
/*adding sliding hovering effect to the button*/
.button-sliding-to-top--red:hover {
background:var(--button-text);
color: var(--heading-color)
}
.button-sliding-to-top--red:hover:after {
height: 100%;
}
.button-sliding-to-top--red:after {
content: "";
position: absolute;
z-index: -1;
transition: all 0.3s ease;
left: 0;
bottom: 0;
height: 0;
width: 100%;
background:var(--button-text);
}
